.row
  %footer

    .large-12.columns
      .footer-slogan
        = image_tag 'layout/slay-footer@2x.png'

    .large-3.columns
      .footer-logo
      .copyright
        %div
        #{ t 'footer.copyright', scope: :salomon }

    .large-2.columns
      %nav
        %h5 #{t 'footer.headings.social', scope: :salomon}
        %ul.social
          %li
            %a.ss-facebook{:href=>'https://www.facebook.com/SalomonSnowboardFans', :target=>'_blank'} Facebook
          %li
            %a.ss-twitter{:href=>'https://twitter.com/Salomonsnow', :target=>'_blank'} Twitter
          %li
            %a.ss-tumblr{:href=>'#', :target=>'_blank'} Tumblr
          %li
            %a.ss-instagram{:href=>'http://instagram.com/salomonsnowboards', :target=>'_blank'} Instagram
          %li
            %a.ss-vimeo{:href=>'https://vimeo.com/salomonsnowboards', :target=>'_blank'} Vimeo
          %li
            %a.ss-youtube{:href=>'https://www.youtube.com/user/Salomonsnowboarding', :target=>'_blank'} YouTube

    .large-2.columns
      %nav
        %h5 Salomon
        %ul
          %li
            %a{:href=>'http://ssnowdev.tumblr.com/'} Blog
          %li= link_to t('pages.team', scope: :salomon), team_path
          %li= link_to t('pages.faq', scope: :salomon), faq_path

    .large-2.columns
      %nav
        %h5 #{ t 'footer.headings.customer_service', scope: :salomon}
        %ul
          %li= link_to t('pages.warranty', scope: :salomon), warranty_path
          %li= link_to t('pages.contact', scope: :salomon), contact_path
          %li= link_to t('pages.terms', scope: :salomon), terms_path
          %li= link_to t('pages.privacy_policy', scope: :salomon), privacy_policy_path

    .large-3.columns
      .language-selector
        %h5 #{t 'footer.change_country', scope: :salomon }
        %form.custom
          %select#language.dropdown.small
            - regions.each do |region|
              %option(value="" disabled="disabled")= "- #{region.name}"
              -region.fetch_a2_countries.each do |country|
                %option(value="#{country.locale}")= "#{country.name}"

      .newsletter
        %h5 #{t 'footer.newsletter_signup_head', scope: :salomon }
        .newsletter-subhead #{t 'footer.newsletter_signup_subhead', scope: :salomon }
        %form.custom.footer-email-subscription
          %input#footer-email-input{:type=>'text', :placeholder => 'your@email.address'}
          %input.button{:type=>'submit', :value=>'Go'}
