.row
  %footer

    .large-12.columns
      .footer-slogan
        = image_tag 'layout/slay-footer@2x.png'

    .large-3.columns
      .footer-logo
      .copyright
        %div
        #{ t 'footer.copyright', scope: :salomon }

    .large-2.columns
      %nav
        %h5 #{t 'footer.headings.social', scope: :salomon}
        %ul.social
          %li
            %a.ss-facebook{:href=>'https://www.facebook.com/SalomonSnowboardFans', :target=>'_blank'} Facebook
          %li
            %a.ss-twitter{:href=>'https://twitter.com/Salomonsnow', :target=>'_blank'} Twitter
          %li
            %a.ss-tumblr{:href=>'http://bonfiresalomon.tumblr.com/', :target=>'_blank'} Tumblr
          %li
            %a.ss-instagram{:href=>'http://instagram.com/salomonsnowboards', :target=>'_blank'} Instagram
          %li
            %a.ss-vimeo{:href=>'https://vimeo.com/salomonsnowboards', :target=>'_blank'} Vimeo
          %li
            %a.ss-youtube{:href=>'https://www.youtube.com/user/Salomonsnowboarding', :target=>'_blank'} YouTube

    .large-2.columns
      %nav
        %h5 Salomon
        %ul
          %li
            %a{:href=>'http://bonfiresalomon.tumblr.com/', :target => '_blank'} Blog
          %li= link_to t('pages.team', scope: :salomon), team_path
          - unless Rails.env.production?
            %li= link_to t('pages.faq', scope: :salomon), faq_path
          %li
            %a{:href =>'http://salomonsnowboard.com/shopcrew/login', :target => '_blank'} Shop crew

    .large-2.columns
      %nav
        %h5 #{ t 'footer.headings.customer_service', scope: :salomon}
        %ul
          - unless Rails.env.production?
            %li= link_to t('pages.warranty', scope: :salomon), warranty_path
            %li= link_to t('pages.contact', scope: :salomon), contact_path
          %li= link_to t('pages.terms', scope: :salomon), terms_path
          %li= link_to t('pages.privacy_policy', scope: :salomon), privacy_policy_path


    .large-3.columns
      .language-selector
        %h5 #{t 'footer.change_country', scope: :salomon }
        %form.custom
          %select#language.dropdown.small
            - countries.each do |country|
              - if is_current_locale(country.locale)
                %option{:value =>"#{url_for_locale(country.locale)}?set_country=#{country.locale}", :selected => 'selected' }= "#{country.name}"
              - else
                %option{:value =>"#{url_for_locale(country.locale)}?set_country=#{country.locale}", }= "#{country.name}"

      .newsletter
        %h5 #{t 'footer.newsletter_signup_head', scope: :salomon }
        .newsletter-subhead #{t 'footer.newsletter_signup_subhead', scope: :salomon }
        %form.custom.footer-email-subscription
          %input#footer-email-input{:type=>'text', :placeholder => 'your@email.address'}
          %input.button{:type=>'submit', :value=>'Go'}
