.row
  %footer

    .large-12.columns
      .footer-slogan
        = image_tag 'layout/slay-footer@2x.png'

    .large-3.columns
      .footer-logo
      .copyright
        %div
        ©2013 SALOMON SNOWBOARDS AND BONFIRE SNOWBOARDING. ALL RIGHT RESERVED.

    .large-2.columns
      %nav
        %h5 Stay in touch
        %ul.social
          %li
            %a.ss-facebook{:href=>'https://www.facebook.com/SalomonSnowboardFans', :target=>'_blank'} Facebook
          %li
            %a.ss-twitter{:href=>'https://twitter.com/Salomonsnow', :target=>'_blank'} Twitter
          %li
            %a.ss-tumblr{:href=>'#', :target=>'_blank'} Tumblr
          %li
            %a.ss-instagram{:href=>'http://instagram.com/salomonsnowboards', :target=>'_blank'} Instagram
          %li
            %a.ss-vimeo{:href=>'https://vimeo.com/salomonsnowboards', :target=>'_blank'} Vimeo
          %li
            %a.ss-youtube{:href=>'https://www.youtube.com/user/Salomonsnowboarding', :target=>'_blank'} YouTube

    .large-2.columns
      %nav
        %h5 Salomon
        %ul
          %li
            %a{:href=>'http://ssnowdev.tumblr.com/'} Blog
          %li= link_to t('nav.team'), team_path
          %li
            %a{:href=>'/faq'} FAQ

    .large-2.columns
      %nav
        %h5 Customer service
        %ul
          %li
            = link_to 'Warranty',warranty_path
          %li
            = link_to 'Contact', contact_path
          %li
            = link_to 'Terms', terms_path
          %li
            = link_to 'Privacy policy',privacy_policy_path


    .large-3.columns
      .language-selector
        %h5 Switch language
        %form.custom
          %select.dropdown.small
            %option English
            %option Spanish
            %option Chinese

      .newsletter
        %h5 Signup for our newsletter
        %form.custom.footer-email-subscription
          %input#footer-email-input{:type=>'text', :placeholder => 'your@email.address'}
          %input.button{:type=>'submit', :value=>'Go'}
