%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %title Salomon Snowboards
  %meta{:content => "", :name => "description"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

  %link{:href => "#{image_path('ico/favicon.ico')}", :rel => "shortcut icon"}/
  %link{:href => "#{image_path('ico/apple-touch-icon-144-precomposed.png')}", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
  %link{:href => "#{image_path('ico/apple-touch-icon-114-precomposed.png')}", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
  %link{:href => "#{image_path('ico/apple-touch-icon-72-precomposed.png')}", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
  %link{:href => "#{image_path('ico/apple-touch-icon-57-precomposed.png')}", :rel => "apple-touch-icon-precomposed"}

  %meta{:content => "image-path('ico/msapplication-TileImage.png')", :name => "msapplication-TileImage"}/
  %meta{:content => "#00a3d1", :name => "msapplication-TileColor"}/

  %script{:src => '//fast.fonts.com/jsapi/2c87326e-1a7d-43bb-9560-24035a52a807.js'}
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'custom.modernizr'