#language-bar
  %ul.right
    %li #{t 'header.change_country', scope: :salomon}
    %li.has-dropdown
      %a(data-dropdown='lang-dropdown' data-options='is_hover:true') #{ t :region, scope: :salomon}
      .f-dropdown#lang-dropdown(data-dropdown-content)
        .inner
          - regions.each do |region|
            .lang-list
              %h5= region.name
              %ul
                - region.a2_countries.each do |country|
                  %li
                    = link_to country.name, "#{url_for_locale(country.locale)}?set_country=#{country.locale}"



    %li
      %a.ignore{:href=>'#'} #{t 'header.ignore', scope: :salomon}
  %p #{ t 'header.language_notification', scope: :salomon, :country => t(cookies[:country_code].to_sym, :scope => :countries) }