-#.searchbar
-#  %input.search-input{:type => 'text', :placeholder => t('header.search_placeholder', scope: :salomon)}
-#  %input{:type => 'submit', :value => 'Submit'}

#nav-container{:class=>yield(:navclass)}
  %nav.top-bar
    %section.top-bar-section
      .sidebar-toggle.ss-icon.ss-standard.ss-rows
      =link_to 'Salomon Snowboards', home_path, class: 'logo'
      / Left Nav Section
      %ul.desk-nav.left
        %li.has-dropdown
          %a{:href => "/gear"}  #{t 'pages.gear', scope: :salomon}
          %ul.dropdown
            - gear_categories.each do |c|
              %li=link_to c.name,products_url(:category => c.slug)
        %li= link_to t('pages.team', scope: :salomon), team_path
        %li= link_to t('pages.videos', scope: :salomon), video_path
        %li
          %a{:href => "http://bonfiresalomon.tumblr.com/"} #{t 'pages.blog', scope: :salomon}
        %li
          %a= link_to t('nav.stores') , store_path

      %ul.desk-nav.right.social-wrap
        %li.social.facebook.dropable
          %a.ss-icon.ss-social{:href=>'https://www.facebook.com/SalomonSnowboardFans', :target=>'_blank'} facebook
          .drop
            .inner
              .fb-like-box{"data-header" => "true", "data-href" => "https://www.facebook.com/SalomonSnowboardFans", "data-show-border" => "true", "data-show-faces" => "false", "data-stream" => "false", "data-width" => "292"}

        %li.social.instagram
          %a.ss-icon.ss-social{:href=>'http://instagram.com/salomonsnowboards', :target=>'_blank'} instagram

        %li.social.twitter.dropable
          %a.ss-icon.ss-social{:href=>'https://twitter.com/Salomonsnow', :target=>'_blank'} twitter
          .drop
            .inner
              %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", :href => "https://twitter.com/Salomonsnow"} Follow
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        %li.social.pinterest.dropable
          %a.ss-icon.ss-social{:href=>'http://pinterest.com/salomonsnow/', :target=>'_blank'} pinterest
          .drop
            .inner
              %a{"data-pin-do" => "buttonFollow", :href => "http://pinterest.com/salomonsnow/"} Salomon Snowboards
