- content_for(:bodyclass) do
  frontpage

= render :file => '/home/partials/hero-video'

= render :file => '/home/partials/product-feature'

= render :file => '/home/partials/updates', :locals => {vimeo: @vimeo }

= render :file => '/home/partials/newsletter'

= render :file => '/home/partials/team'

