- content_for(:bodyclass) do
  frontpage

%section#hero
  .row
    .hero-text
      %h2
        %div Hologram bindings
        %div featuring
        %div shadow fit
      .price
        From $39.95
      %a{:href => 'product.html', :class => 'button large-button'}
        View product

%section#new-arrival
  .row
    .large-4.columns.large-offset-1
      = image_tag('fixme-new-product.png')
    .large-5.columns.large-offset-1.end
      %h2 Lorem Ipsum
      %h3 Boards
      %p
        A cross between our most progressive powder and freestyle board constructions, featuring ABC Green Roll, EQ Rad, Rock Out Camber, and Popster Booster, in one ride-anything package. The Assassin is built with an arsenal of technology for destruction of anything in its path. One board to rule them all.
      %a.button{:href=>'products.html'} Shop Boards

%section#updates
  .row
    %h2 Updates
    .large-9.columns
      .row
        .large-8.columns
          .update-item.video.update-1
            .update-meta
              %p At Home with Chris Grenier
              .time-ago 4 days ago
            .update-item-image
              = image_tag('frontpage/fixme-updates-1.png')
        .large-4.columns
          .update-item.blog.update-2
            .update-meta
              %p
                R: Bode Merrill
                %br
                P: Greg Furey
                %br
                Source: bonfiresalomon
              %ul.hashtags
                %li
                  %a #BODE
                %li
                  %a #MERRILL
                %li
                  %a #SALOMON...
              .time-ago 4 days ago
            .update-item-image
              = image_tag('frontpage/fixme-updates-2.jpg')
        .large-4.columns
          .update-item.blog.update-3
            .update-meta
              %p
                It’s all about just following your heart and simply doing
                what you love. Don’t listen to anyone who doubts your
                passion. What do they know about…
              .time-ago 4 days ago
          .update-item.blog.update-4
            .update-meta
              %p R: Bode Merrill...
              .time-ago 4 days ago
            .update-item-image
              = image_tag('frontpage/fixme-updates-5.png')
        .large-8.columns
          .update-item.video.update-5
            .update-meta
              %p
                Salomon 13/14 catalog shoot - La Parva, Chile
              .time-ago 4 days ago
            .update-item-image
              = image_tag('frontpage/fixme-updates-6.png')
    .row
      .large-3.columns
        .update-item.blog.update-6
          .update-meta
            %p It’s all about just following your heart
            .time-ago 4 days ago
          .update-item-image
            = image_tag('frontpage/fixme-updates-3.png')
        .update-item.blog.update-7
          .update-meta
            %p
              R: Bode Merrill
              %br
              P: Greg Furey
              %br
              Source: bonfiresalomon
            %ul.hashtags
              %li
                %a #BODE
              %li
                %a #MERRILL
              %li
                %a #SALOMON...
            .time-ago 4 days ago
          .update-item-image
            = image_tag('frontpage/fixme-updates-4.png')
        .last-item.update-8
          %h2
            We've got
            %br
            plenty more
          %p Lorem ipsum dolor sit amet.
          .item-nav
            %a{:href=>'#'}
              %span Previous
            %a{:href=>'#'}
              %span Next
%section#stay-updated
  .row
    .large-7.columns
      .call-out

        %h3 Sign up for the newsletter
        %p
          Donec sed odio dui. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum.

          .email-subscription
            %div
              %input.email-input{:class => 'large-input', :type => 'text',:placeholder => 'E-mail Address'}
            %div
              %input{:class => 'button small-button', :type => 'submit', :value => 'Submit'}
    .large-4.columns.large-offset-1
      %h3
        Or...
        %br
        follow us
      %ul
        %li
          %a{:class=>'facebook', :href => '#'}
            %span Facebook
        %li
          %a{:class=>'twitter', :href => '#'}
            %span Twitter
        %li
          %a{:class=>'tumblr', :href => '#'}
            %span Tumblr
        %li
          %a{:class=>'instagram', :href => '#'}
            %span Instagram
%section#the-team
  .row
    %h2 The team

    .team-members
      .row
        .large-3.columns
          .team-member.img-zoom-hover
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/285/285'}
        .large-3.columns
          .team-member.img-zoom-hover
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/285/285'}
        .large-3.columns
          .team-member.img-zoom-hover
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/285/285'}
        .large-3.columns
          .team-member.img-zoom-hover
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/285/285'}
      .row
        .large-3.columns
          .team-member.img-zoom-hover
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/285/285'}
        .large-3.columns
          .team-member.img-zoom-hover
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/285/285'}
        .large-3.columns
          .team-member.img-zoom-hover
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/285/285'}
        .large-3.columns
          .see-more
            .pros
              12 pros
            .amateurs
              7 ams
            .nationals
              191 nationals
            .full-team
              %a{:href => '#'}
                See the full team