:javascript
  var imageSet = new Array();

.product-meta
  %h5 Color
  %ul.product-thumbs
    - variants.each_with_index do |color, colorIndex|
      %li{:class => (colorIndex == 0?'selected':'')}
        :javascript
          imageSet[#{colorIndex}] = new Array();
        = link_to cl_image_tag(color.image, :width => 100, :height => 100, :crop => :fill), '#', :class => 'imageset', :data => {:imagesetindex => "#{colorIndex}"}
        - color.product_images.each_with_index do |variant, imgIndex|
          :javascript
            imageSet[#{colorIndex}][#{imgIndex}] = '#{cl_image_path(variant.img, :width=>'580', :height =>'500', :crop => 'fit')}';