- content_for :bodyclass do
  subpage

- content_for :navclass do
  sticky
  /version123999224
- cache [I18n.locale ,@category] do

  %section#filterbar
    .row.filter-text
      .large-12.columns
        .row
          .large-8.large-offset-2
            %h1 Salomon Snowboards
            %p Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.

    .filters
      .group
        %h4 Rider
        %ul.filter-list
          %li.active(data-filter="all" data-dimension="gender")
            %a.button{:href=>'#'} All
          %li(data-filter="gender-M gender-U" data-dimension="gender")
            %a.button{:href=>'#'} Men
          %li(data-filter="gender-W gender-U" data-dimension="gender")
            %a.button{:href=>'#'} Women
          %li(data-filter="gender-K" data-dimension="gender")
            %a.button{:href=>'#'} Youth

      - @feature_types.each_with_index do |filter, index|
        .group
          %h4=filter.name
          %ul.filter-list
            %li.active(data-filter="all" data-dimension="feature-#{filter.id}")
              %a.button{} All
            - filter.product_features.each do |feature|
              %li(data-filter="filter-#{feature.id}" data-dimension="feature-#{filter.id}")
                %a.button{set_text_length_class(feature.name, 10)}=feature.name
      .group
        %h4 Sort by
        %ul
          %li.sort.active(data-sort="data-name" data-order="desc" )
            %a.button{:href=>'#'} A-Z
          %li.sort(data-sort="data-price" data-order="desc" )
            %a.button{:href=>'#'} Price

  %section#main
    .row
      #product-list
        -@products.each do |product|
          - filterClasses = product.product_features.map { |p| "filter-#{p.id}" }.join ' '
          - filterClasses << " gender-#{product.gender}"
          .large-3.columns.mix{:class=>filterClasses, :data => {:name => "#{product.name}", :price => "#{product.price}"}}
            .product{:class => (product.is_snowboard? ? 'snowboard':'')}
              .main-info
                %h2{set_text_length_class(product.name, 16)}
                  = link_to product.name, product_show_path(:category => params[:category], :product => product.slug)
                .price= t :display_currency, price: product.price
                - if product.is_snowboard?
                  = link_to  cl_image_tag(product.master_image,  :width => 200, :height=>320, :crop => :fill, :class => 'product-image'), product_show_path(:category => params[:category], :product => product.slug)
                  = render :partial => 'products_size_thumbs', :locals => { :variants => product.product_variants }
                - else
                  = link_to cl_image_tag(product.master_image,  :width => 200, :crop => :fill, :class => 'product-image'), product_show_path(:category => params[:category], :product => product.slug)
                  = render :partial => 'products_color_thumbs', :locals => { :variants => product.product_color_variants }

              .more-info
                .feature
                  %h5 Gender
                  %span= t "gender.#{product.gender}", :count => 2
                -product.product_features.each do |feature|
                  - if feature.product_feature_type_show_in_category_overview
                    .feature
                      %h5=feature.product_feature_type_name
                      %span=feature.name

        .large-3.columns.end
          .product.last.notfound
            %h2 Sorry - No products match this filter criteria
            //.message Donec sed odio dui. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo.
            %ul.links
              %li
                %a.clear-filters{:href=>'#'} Clear filters
              %li
                %a Back to front page

        .large-3.columns.end
          .product.last.lastproduct
            %h2
              You've reached
              %br
              the last
              %br
              product
            //.message Donec sed odio dui. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo.
            %ul.links
              %li
                %a.modify-filters{:href=>'#filterbar'} Modify filters
              %li
                %a.clear-filters{:href=>'#'} Clear filters
              %li
                =link_to 'Back to front page', home_path