- content_for(:bodyclass) do
  product

- content_for(:navclass) do
  sticky

- content_for(:page_title) do
  - cache ['page_title',I18n.locale ,@product] do
    #{@product.name} #{@product.categories[0].name_singular}

- content_for(:page_description) do
  - cache ['page_description',I18n.locale ,@product] do
    #{@product.description}

- cache [I18n.locale ,@product] do
  %section#breadcrumbs
    %ul
      %li Your Location
      %li Gear
      %li=link_to @product.categories[0].name,products_path(:category => @product.categories[0])
      %li=link_to @product.name, product_show_path(:product => @product.slug)

%section#main.product-details
  .row
    .large-6.columns
      .product-main-image
        - img_loader do
          - if @product.is_snowboard?
            = prepend_snowboard_crop(cl_image_tag(@product.master_image, :width=>'580', :height => '500', :alt => @product.name, :crop => 'fit', :onload => 'form5image.hasLoaded(this)'))
          - else
            = cl_image_tag(@product.master_image, :width=>'580', :height => '500', :alt => @product.name, :crop => 'fit', :onload => 'form5image.hasLoaded(this)')
      .product-thumbnails
        %ul
          - @product.product_color_variants[0].product_images.each_with_index do |thumb, i|
            %li{:class => (i == 0?'active':'')}
              .overlay-wrapper
                = link_to cl_image_tag(thumb.img, :width=>'80', :height=>'80', :crop =>'fit', :data=>{:fullsize=>cl_image_path(thumb.img, :width=>'580', :height=>'500', :alt => @product.name, :crop => 'fit')}), '#'
              %a{:href=>'#'} View #{i+1}
    .large-6.columns
      %h1= @product.name
      %span!= t("gender.#{@product.gender}", :count => 2, scope: :salomon) + " " + @product.categories[0].name_singular + " &mdash; " + @product.tag_line
      %h2= product_price(@product)
      %form.custom
        - if @product.is_snowboard?
          = get_size_variants
        - else
          = get_color_variants
        - unless Rails.env.production?
          = link_to 'Buy now',salomon_link(@product.slug), :target => '_blank', :class => 'button'



      .product-model
        %span= "MODEL #{@product.article_code}"

        .social
          %span.st_facebook{:displaytext => ""}
          %span.st_twitter{:displaytext => ""}
          %span.st_pinterest{:displaytext => ""}
          %span.st_email{:displaytext => ""}

      :javascript
        var switchTo5x=true;
      %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
      :javascript
        stLight.options({publisher: "189e17d4-21f7-4409-bfe6-d6939f7c6693", doNotHash: true, doNotCopy: true, hashAddressBar: false});

      %p.product-description=@product.description

  = render :partial => 'gallery_riders', :locals => { :product => @product }

  - # Template Dependency: product/tech_panel
  = render :partial => 'tech_panel', :locals => { :product => @product }

  - if @product.products.length > 0
    = render :partial => 'related_gear', :locals => { :products => @product.products }
