- content_for(:navclass) do
  sticky
%section#breadcrumbs
  %ul
    %li Your Location
    %li Gear
    %li=link_to @product.categories[0].name,products_url(:category => @product.categories[0])
    %li=link_to @product.name, product_show_path(:product => @product.slug)


%section#main.product-details
  .row
    .large-6.columns
      = cl_image_tag(@product.master_image, :class=>'product-main-image', :width=>'580', :crop => 'fit')
      .product-thumbnails
        %ul
          - @product.product_color_variants[0].product_images.each_with_index do |thumb, i|
            %li{:class => (i == 0?'active':'')}
              .img-wrapper
                = link_to cl_image_tag(thumb.img, :data=>{:fullsize=>cl_image_path(thumb.img, :width=>'80', :crop => 'fit')}), '#'
              %a{:href=>'#'} View #{i+1}
    .large-6.columns
      %h1= @product.name
      %h2=  t :display_currency, price: @product.price
      %form.custom
        :javascript
          var imageSet = new Array();
        %ul.product-meta.product-color
          %li Color
          - @product.product_color_variants.each_with_index do |color, colorIndex|
            %li{:class => (colorIndex == 0?'selected':'')}
              :javascript
                imageSet[#{colorIndex}] = new Array();
              = link_to cl_image_tag(color.image, :width => 100, :height => 100, :crop => :fill), '#', :class => 'imageset', :data => {:imagesetindex => "#{colorIndex}"}
              - color.product_images.each_with_index do |variant, imgIndex|
                :javascript
                  imageSet[#{colorIndex}][#{imgIndex}] = '#{cl_image_path(variant.img, :width=>'580', :crop => 'fit')}';

        %ul.product-meta
          %li Size
          %li
            %select.dropdown.small
              %option 8.5
              %option 9
              %option 9.5
              %option 10
              %option 11

        %ul.product-meta
          %li Quantity
          %li
            %input{:type=>'text', :value=>'1'}
          %li
            %a.button.disable-on-click Add to cart

      .product-model
        %span= "MODEL2 #{@product.model}"
        %span
          12 reviews
        %span.ss-icon.ss-standard
          %i.blue star star star
          star

      %p.product-description=@product.description
%section.panel.gray
  .row
    .large-8.columns
      %h2 Gallery
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
        .more-images
          %a{:href => '#'}
            %div
              %span 7 more images
    .large-3.columns.large-offset-1
      %h2 Riders
      %ul.riders
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li 5 other riders

%section.panel#tech
  .row
    %h2 Technology
    .large-12.columns
      .tech-info
        %ul.tech-list
          -@product.product_features.each do |feature|
            %li
              %span=feature.product_feature_type_name
              %span=feature.name

  .row.sizes
    %h2 Sizing information

    %section-container-tabs(data-section="tabs")
      - @product.product_variants.each do |variant|
        %section
          .title(data-section-title)
            %a{:href=>'#'}=variant.size
          .content(data-section-content)
            .row
              .large-4.columns
                %ul.tech-stats
                  -variant.tech_specifications.each do |spec|
                    %li
                      %span=spec.tech_definition_name
                      %span=spec.value
              .large-8.columns
                .technical-drawing
                  .technical-value
                    636
                  = image_tag('board.png')
                  .technical-demonstration
                    .technical-indicator

