- content_for(:navclass) do
  sticky
%section#breadcrumbs
  %ul
    %li Your Location
    %li
      %a{:href=>'#'} Boots
    %li
      %a{:href=>'#'} Launch

%section#main.product-details
  .row
    .large-6.columns
      = image_tag('fixme-boot.png', class: 'product-main-image')
      .product-thumbnails
        %ul
          %li.active
            .img-wrapper
              = link_to image_tag('fixme-boot.png', :data=>{:fullsize=>asset_path('fixme-boot.png')}), '#'
            %a{:href=>'#'} Front view
          %li
            .img-wrapper
              = link_to image_tag('fixme-boot-back.png', :data=>{:fullsize=>asset_path('fixme-boot-back.png')}), '#'
            %a{:href=>'#'} Back view
    .large-6.columns
      %h1= @product.name
      %h2= "$#{@product.price}"
      %form.custom
        %ul.product-meta.product-color
          %li Color
          %li
            %a.black
          %li
            %a.red.selected
          %li
            %a.purple
          %li
            %a.gray

        %ul.product-meta
          %li Size
          %li
            %select.dropdown.small
              %option 8.5
              %option 9
              %option 9.5
              %option 10
              %option 11

        %ul.product-meta
          %li Quantity
          %li
            %input{:type=>'text', :value=>'1'}
          %li
            %input.button.disable-on-click{:type=>'submit', :value=>'Add to cart'}

      %p.product-model= "MODEL #{@product.model}"

      %p.product-description Maximum bang for your buck, the all new Launch sets the bar high and keeps the price tag low. Featuring Balance 1 Compact Liner, we cut out the excess and added a stylish outer construction that is built to last. Cinch it down with ZoneLock lacing and rise above the rest with this go-to freestyle model.
%section.panel.gray
  .row
    .large-8.columns
      %h2 Gallery          
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
        .more-images
          %a{:href => '#'} 
            %div
              %span 7 more images
    .large-3.columns.large-offset-1
      %h2 Riders
      %ul.riders
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li 5 other riders


%section.panel#tech
  .row
    %h2 Technology
    .large-6.columns
      .tech-info
        %ul.tech-list
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
    .large-6.columns
      %ul.tech-list
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
  .row.sizes        
    %h2 Sizing information
    %ul.size-list
      %h4 Size:
      %li 150
      %li 154
      %li 156
      %li 159      
    .large-3.columns
      %ul.tech-stats
        %li
          %span Contact length
          %span 1145
        %li
          %span Effective edge
          %span 1175
        %li
          %span Max stance
          %span 636
        %li
          %span Waist width
          %span 248
        %li
          %span Tail length
          %span 190
        %li
          %span Nose length
          %span 205
        %li
          %span Set back
          %span 15
        %li
          %span Sidecut radius
          %span 7.8                                                 
    .large-8.columns.large-offset-1
      %iframe{:src => image_path("fixme-board02.svg")}
