- content_for(:navclass) do
  sticky
%section#breadcrumbs
  %ul
    %li Your Location
    %li
      %a{:href=>'#'} Boots
    %li
      %a{:href=>'#'} Launch

%section#main.product-details
  .row
    .large-6.columns
      = cl_image_tag(@product.master_image, class: 'product-main-image')
      .product-thumbnails
        %ul
          - @product.product_color_variants[0].product_images.each_with_index do |thumb, i|
            %li{:class => (i == 0?'active':'')}
              .img-wrapper
                = link_to cl_image_tag(thumb.img, :data=>{:fullsize=>cl_image_path(thumb.img)}), '#'
              %a{:href=>'#'} View #{i+1}
    .large-6.columns
      %h1= @product.name
      %h2=  t :display_currency, price: @product.price
      %form.custom
        :javascript
          var imageSet = new Array();
        %ul.product-meta.product-color
          %li Color
          - @product.product_color_variants.each_with_index do |color, colorIndex|
            %li{:class => (colorIndex == 0?'selected':'')}
              :javascript
                imageSet[#{colorIndex}] = new Array();
              = link_to cl_image_tag(color.image, :width => 100, :height => 100, :crop => :fill), '#', :class => 'imageset', :data => {:imagesetindex => "#{colorIndex}"}
              - color.product_images.each_with_index do |variant, imgIndex|
                :javascript
                  imageSet[#{colorIndex}][#{imgIndex}] = '#{cl_image_path(variant.img)}';

        %ul.product-meta
          %li Size
          %li
            %select.dropdown.small
              %option 8.5
              %option 9
              %option 9.5
              %option 10
              %option 11

        %ul.product-meta
          %li Quantity
          %li
            %input{:type=>'text', :value=>'1'}
          %li
            %a.button.disable-on-click Add to cart

      %p.product-model= "MODEL2 #{@product.model}"

      %p.product-description=@product.description
%section.panel.gray
  .row
    .large-8.columns
      %h2 Gallery
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
        .more-images
          %a{:href => '#'}
            %div
              %span 7 more images
    .large-3.columns.large-offset-1
      %h2 Riders
      %ul.riders
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li 5 other riders


%section.panel#tech
  .row
    %h2 Technology
    .large-6.columns
      .tech-info
        %ul.tech-list
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
          %li
            %i.ss-icon.ss-standard plus
            %span Terrain 
            %span All mountain
    .large-6.columns
      %ul.tech-list
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
        %li
          %i.ss-icon.ss-standard plus
          %span Terrain 
          %span All mountain
  .row.sizes        
    %h2 Sizing information
    %ul.size-list
      %h4 Size:
      %li 150
      %li 154
      %li 156
      %li 159      
    .large-3.columns
      %ul.tech-stats
        %li
          %span Contact length
          %span 1145
        %li
          %span Effective edge
          %span 1175
        %li
          %span Max stance
          %span 636
        %li
          %span Waist width
          %span 248
        %li
          %span Tail length
          %span 190
        %li
          %span Nose length
          %span 205
        %li
          %span Set back
          %span 15
        %li
          %span Sidecut radius
          %span 7.8                                                 
    .large-8.columns.large-offset-1
      %iframe{:src => image_path("fixme-board02.svg")}
