- content_for(:bodyclass) do
  team-member
%section#member-nav
  %h2
    %span Pros
    %span Ams
  .navigation-buttons
    .click-buttons
      %a.left-arrow{:href => '#'}
        %i{:class => 'ss-icon ss-standard'} navigateleft
      %a.right-arrow{:href => '#'}
        %i{:class => 'ss-icon ss-standard'} navigateright
    .hover-buttons
      .hover-nav-left
      .hover-nav-right
  .member-nav-wrapper{slider_viewport}
    %ul.team-nav
      - @team_member.category.team_members.each do |tm|
        %li.has-overlay
          = cl_image_tag tm.thumb_image, :width => 140, :height => 140, :crop => 'fill'
          .team-member-info
            %h3
              = tm.fullname
            .team-member-country
              = tm.country

%section#member
  .row
    .member-profile{:style => 'background-image: url("' + cl_image_path(@team_member.main_image, :crop => "fill") + '");'}
      .play-video
        %span Play video
        %i{:class => 'ss-icon ss-standard'} play
      .profile-text
        %h2= @team_member.name
        %p
          = @team_member.description

      .quote
        .author Laurent Nicolas Paquin
        .title Pro boarder

    .member-details
      .row
        .large-4.columns
          .large-6.columns
            %h2 Details
            .social-details
              .facebook
                %a{:href => '#'}
                  %i{:class => 'ss-icon ss-social'} facebook
                  %spans /Louifparadis
              .twitter
                %a{:href => '#'}
                  %i{:class => 'ss-icon ss-social'} twitter
                  %span @Louifparadis
        .large-4.columns
          .large-3.columns
            .country.detail-label Country
            .hometown.detail-label Hometown
            .sponsors.detail-label Sponsors
          .large-6.columns.offset-3
            .country.detail-value
              = @team_member.country
            .hometown.detail-value
              = @team_member.city
            .sponsors.detail-value
              %ul
                %li Salomon
                %li Bonfire
        .large-4.columns
          .large-6.columns
            .years.detail-label Years riding
            .stance.detail-label Stance
            .favourite.detail-label Favourite gear
          .large-6.columns
            .years.detail-value 190
            .stance.detail-value Goofy
            .favourite.detail-value Lorem ipsum

%section#member-gallery
  .row
    %h2 Gallery
    .large-2.columns
      %img{:src => 'http://placekitten.com/g/180/180'}
    .large-2.columns
      %img{:src => 'http://placekitten.com/g/180/180'}
    .large-2.columns
      %img{:src => 'http://placekitten.com/g/180/180'}
    .large-2.columns
      %img{:src => 'http://placekitten.com/g/180/180'}
    .large-2.columns
      %img{:src => 'http://placekitten.com/g/180/180'}
    .large-2.columns
      %img{:src => 'http://placekitten.com/g/180/180'}

%section#gear-used
  .row
    %h2 Gear Used
    .large-3.columns.large-offset-1
      .gear-item
        = image_tag('fixme-gear-used-board.png')
        %h3 Drift Rocker
        .price $89.95
    .large-4.columns
      .gear-item
        = image_tag('fixme-gear-used-robot-boot.png')
        %h3 Drift Rocker
        .price $89.95
    .large-4.columns.end
      .gear-item
        = image_tag('fixme-gear-used-robot-boot.png')
        %h3 Drift Rocker
        .price $89.95
