- content_for :page_title do
  Team

- content_for(:bodyclass) do
  team-member

- content_for(:navclass) do
  sticky

- unless params[:ajax]
  %section#member-nav
    .loading-category
    .category-switches
      %h2
        - @team_categories.each do |cat|
          %span{is_current_category(cat.name)}
            =cat.name
    .navigation-buttons
      .click-buttons
        %a.left-arrow{:href => '#'}
          %i{:class => 'ss-icon ss-standard'} navigateleft
          .prev-name
        %a.right-arrow{:href => '#'}
          %i{:class => 'ss-icon ss-standard'} navigateright
          .next-name
      .hover-buttons
        .hover-nav-left
        .hover-nav-right
    .member-nav-wrapper{slider_viewport}
      %ul.team-nav
        - @team_categories.each do |cat|
          %div{is_current_team_nav_category(cat)}
            - cat.team_members.each do |tm|
              %li.has-overlay
                .nav-team-member.img-zoom-hover
                  = cl_image_tag get_profile_image(tm.thumb_image), :width => 140, :height => 140, :crop => 'fill', :alt => tm.name
                  .team-member-info
                    %h3
                      = tm.fullname
                    .team-member-country
                      = tm.country
%section#member-body
  %section#member
    .row
      .member-profile.vimeo{get_profile_video_bg(@team_member.main_image)}(data-vimeo-id="#{@profile_video}" data-vimeo-width="1200" data-vimeo-height="663")
        .video-player
        .profile-text
          %h2= @team_member.name
          %p{set_text_length_class(@team_member.description, 230)}
            = @team_member.description

        .quote
          .author= @team_member.quoter_name
          .title= @team_member.quoter_title
      = render :partial => 'profile_info', :locals => { :rider => @team_member }
  /
    %section#member-gallery
      .row
        %h2 Gallery
        .large-2.columns
          %img{:src => 'http://placekitten.com/g/180/180'}
        .large-2.columns
          %img{:src => 'http://placekitten.com/g/180/180'}
        .large-2.columns
          %img{:src => 'http://placekitten.com/g/180/180'}
        .large-2.columns
          %img{:src => 'http://placekitten.com/g/180/180'}
        .large-2.columns
          %img{:src => 'http://placekitten.com/g/180/180'}
        .large-2.columns
          %img{:src => 'http://placekitten.com/g/180/180'}

  %section#gear-used
    .row
      %h2=gear_heading
      - @team_member.products.each do |product|
        .gear-item
          - if product.is_snowboard?
            = link_to prepend_snowboard_crop(cl_image_tag(product.master_image, :width=>'200', :height => '380', :alt => product.name, :crop => 'fit', :onload => 'form5image.hasLoaded(this)')), product_show_path(:category => product.categories[0], :product => product.slug)
          - else
            = link_to cl_image_tag(product.master_image, :width=>'200', :height => '380', :alt => product.name, :crop => 'fit', :onload => 'form5image.hasLoaded(this)'), product_show_path(:category => product.categories[0], :product => product.slug)
          %h3=link_to product.name, product_show_path(:category => product.categories[0], :product => product.slug)
          .price= product_price(product)
