%section#the-team
  .row
    %h2 The team

    .team-members
      .row
        - team_members.each do |tm|
          .large-3.columns
            .team-member.img-zoom-hover
              .team-member-info
                %h2= tm.name
                .team-member-country Japan
              %img{:src=>'http://placekitten.com/g/285/285'}


        .large-3.columns
          .see-more
            - team_categories_info.each do |t|
              .pro
                = "#{t[:count]} #{t[:name]}"

            .full-team
              %a= link_to 'See the full team', team_path
