%section#the-team
  .row
    %h2 The team

    .team-members
      %ul.large-block-grid-4
        - team_members.each do |tm|
          %li
            .team-member.img-zoom-hover
              .team-member-info
                %h2
                  =link_to(tm.name, team_member_path(:team_member => tm.slug))
                .team-member-country= tm.country
              = cl_image_tag(tm.thumb_image.url, :width => 285, :height => 285, :crop => 'fit')

        .large-3.columns
          .see-more
            - team_categories_info.each do |t|
              .pro
                = "#{t[:count]} #{t[:name]}"

            .full-team
              %a= link_to 'See the full team', team_path
