%section#updates
  .row
    %h2 Updates

    // Vimeo column
    .large-6.columns
      .update-item.vimeo(data-vimeo-id="#{vimeo.item_id}")
        .update-meta
          %i.ss-icon.ss-standard video
          %p= vimeo.title
          .time-ago= vimeo.relative_date
        .img-wrapper
          %img{:src=>"#{vimeo.image_url}"}
        .video-player
      %a.button.vimeo{:href=>'http://vimeo.com/salomonsnowboards'} More videos on Vimeo

    // Facebook column
    .large-3.columns
      .update-item.facebook
        .update-meta
          %i.ss-icon.ss-social facebook
          .time-ago 4 days ago

        %img{:src=>'http://placekitten.com/100/100'}
        %p It’s all about just following your heart and simply doing what you love. Don’t listen to anyone who…

      .update-item.facebook
        .update-meta
          %i.ss-icon.ss-social facebook
          .time-ago 4 days ago
        %img{:src=>'http://placekitten.com/100/100'}
        %p It’s all about just following your heart and simply doing what you love. Don’t listen to anyone who…
      %a.button.facebook{:href=>'https://www.facebook.com/SalomonSnowboardFans'} More on Facebook

    // Instagram column
    .large-3.columns
      .update-item.instagram
        .update-meta
          %i.ss-icon.ss-social instagram
          .time-ago= instagram.relative_date
        = image_tag('frontpage/fixme-updates-2.jpg')
        %p= instagram.title
      %a.button.instagram{:href=>'http://instagram.com/salomonsnowboards'} More on Instagram