%section#updates
  .row
    %h2 Updates
    .large-9.columns
      .row
        .large-8.columns
          .update-item.video.update-1
            .update-meta
              %p At Home with Chris Grenier
              .time-ago 4 days ago
            .update-item-image
              = image_tag('frontpage/fixme-updates-1.png')
        .large-4.columns
          .update-item.blog.update-2
            .update-meta
              %p
                R: Bode Merrill
                %br
                P: Greg Furey
                %br
                Source: bonfiresalomon
              %ul.hashtags
                %li
                  %a #BODE
                %li
                  %a #MERRILL
                %li
                  %a #SALOMON...
              .time-ago 4 days ago
            .update-item-image
              = image_tag('frontpage/fixme-updates-2.jpg')
        .large-4.columns
          .update-item.blog.update-3
            .update-meta
              %p
                It’s all about just following your heart and simply doing
                what you love. Don’t listen to anyone who doubts your
                passion. What do they know about…
              .time-ago 4 days ago
          .update-item.blog.update-4
            .update-meta
              %p R: Bode Merrill...
              .time-ago 4 days ago
            .update-item-image
              = image_tag('frontpage/fixme-updates-5.png')
        .large-8.columns
          .update-item.video.update-5
            .update-meta
              %p
                Salomon 13/14 catalog shoot - La Parva, Chile
              .time-ago 4 days ago
            .update-item-image
              = image_tag('frontpage/fixme-updates-6.png')
    .row
      .large-3.columns
        .update-item.blog.update-6
          .update-meta
            %p It’s all about just following your heart
            .time-ago 4 days ago
          .update-item-image
            = image_tag('frontpage/fixme-updates-3.png')
        .update-item.blog.update-7
          .update-meta
            %p
              R: Bode Merrill
              %br
              P: Greg Furey
              %br
              Source: bonfiresalomon
            %ul.hashtags
              %li
                %a #BODE
              %li
                %a #MERRILL
              %li
                %a #SALOMON...
            .time-ago 4 days ago
          .update-item-image
            = image_tag('frontpage/fixme-updates-4.png')
        .last-item.update-8
          %h2
            We've got
            %br
            plenty more
          %p Lorem ipsum dolor sit amet.
          .item-nav
            %a{:href=>'#'}
              %span Previous
            %a{:href=>'#'}
              %span Next