%section#updates
  .row
    %h2 Updates

    // Vimeo column
    .large-6.columns
      .update-item.vimeo(data-vimeo-id="#{vimeo.item_id}")
        .update-meta
          %i.ss-icon.ss-standard video
          %p= vimeo.title
          .time-ago= vimeo.relative_date
        - img_loader do
          =cl_image_tag(vimeo.img, :width=>540, :height=>304, :crop=>'fill', :onload=>'form5image.hasLoaded(this)', :alt=>vimeo.title)
        .video-player.flex-video.vimeo.widescreen
      %a.button.vimeo{:href=>'http://vimeo.com/salomonsnowboards', :target=>'_blank'} More videos on Vimeo

    // Facebook column
    .large-3.columns
      - facebook.each do |fb|
        .update-item.facebook
          .update-meta
            %i.ss-icon.ss-social facebook
            .time-ago= fb.relative_date
          %a{:href=>fb.url, :target=>'_blank'}
            =cl_image_tag(fb.img, :onload=>'form5image.hasLoaded(this)', :alt=>vimeo.title, :height=>100, :width=>100, :crop=>'fill')
          %p
            %a{:href=>fb.url, :target=>'_blank'}=truncate(fb.title, length: 65)
      %a.button.facebook{:href=>'http://facebook.com/SalomonSnowboardFans', :target=>'_blank'} More updates on Facebook


    // Instagram column
    .large-3.columns
      .update-item.instagram
        .update-meta
          %i.ss-icon.ss-social instagram
          .time-ago= instagram.relative_date
        = link_to cl_image_tag(instagram.img, :width=>240, :height=>240, :crop=>'fill', :alt => instagram.title), instagram.url, target: '_blank'
        %p= truncate(instagram.title, length: 100, separator: ' ')
      %a.button.instagram{:href=>'http://instagram.com/salomonsnowboards', :target=>'_blank'} More on Instagram
